{% extends 'dating/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'dating/interset.css' %}">
<h1>this is Interests page </h1>
<div class="box">
  <a class="button_modal" href="#popup1">Click to add Interests</a>
</div>

<div id="popup1" class="overlay">
  <div class="popup">
    <h2>Select the type of interest</h2>
    <a class="close" href="#">&times;</a>
    <div class="content">
     <div class="btn_box">
      <button type="button" class="btn   btn-secondary btn-lg btn-block">click to add music taste</button>
      <button type="button" class="btn   btn-secondary btn-lg btn-block">click to add movie taste</button>
      <button type="button" class="btn btn-secondary btn-lg btn-block">click to add anime taste</button>
      <button type="button" class="btn  btn-secondary btn-lg btn-block">click to add books taste</button>
     </div>
    
     </ul>
    </div>
  </div>
</div>
{% endblock %}
